DATABASE_URL=postgresql://postgres.fsjyquohujddoydrqbuk:BxZegWjA8E66cMnY@aws-1-us-east-1.pooler.supabase.com:6543/postgres

# Gmail API (descarga credentials.json desde Google Cloud Console)
GMAIL_CREDENTIALS_FILE=credentials.json
GMAIL_TOKEN_FILE=token.json
GMAIL_ADDRESS=carlosenriquecruzmendez@gmail.com

# Seguridad de la API
API_SECRET_KEY=mi_clave_super_secreta_2024_tigo

# Configuración
PAYMENT_EXPIRY_MINUTES=30
EMAIL_CHECK_INTERVAL_SECONDS=15
SMS_CHECK_INTERVAL_SECONDS=10
